/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LOWER 1
#define RAISE 2


/ {
    keymap {
        compatible =  "zmk,keymap" ;

        default_layer {
            bindings = <
   &kp ESC   &kp N1   &kp N2     &kp N3   &kp N4    &kp N5                                        &kp N6    &kp N7 &kp N8    &kp N9   &kp N0   &kp QUESTION
   &kp TAB   &kp SQT  &kp COMMA  &kp DOT  &kp P     &kp Y  &kp LPAR                     &kp RPAR  &kp F     &kp G  &kp C     &kp R    &kp L    &kp MINUS
   &kp LSHFT &kp A    &kp O      &kp E    &kp U     &kp I  &kp RET                     &kp RET    &kp D     &kp H  &kp T     &kp N    &kp S    &kp SQT
   &kp LCTRL &kp SEMI &kp Q      &kp J    &kp K     &kp X  &kp PG_UP &kp PG_DN &kp HOME &kp END   &kp B     &kp M  &kp W     &kp V    &kp Z    &mt RSHFT RET
   &kp LCTRL &kp LALT &kp LGUI   &mo 3    &mo LOWER &mo LOWER   &mo LOWER &kp DEL  &kp BKSP       &kp SPACE      &kp LEFT  &kp DOWN &kp UP   &kp RIGHT
            >;
        };

        lower_layer {
            bindings = <
   &kp ESC   &kp N1   &kp N2   &kp N3 &kp N4   &kp N5                                        &kp N6    &kp N7 &kp N8    &kp N9   &kp N0   &kp QUESTION
   &kp TAB   &kp SQT    &kp COMMA    &kp LT  &kp GT    &kp CARET  &kp LPAR            &kp RPAR  &kp SLASH  &kp KP_PLUS  &kp LBKT     &kp RBKT    &kp KP_MULTIPLY    &kp MINUS
   &kp LSHFT &kp A    &kp O    &kp APOS  &kp DQT    &kp I  &kp RET                     &kp RET  &kp EXCL   &kp KP_EQUAL  &kp LPAR     &kp RPAR    &kp BSLH &kp SQT
   &kp LCTRL &kp SEMI    &kp Q    &kp J  &kp K    &kp X  &kp PG_UP &kp PG_DN &kp HOME &kp END   &kp UNDER  &mt KP_UNDER KP_MINUS  &kp LBRC &kp LBRC  &kp COLON &mt RSHFT RET
   &kp LCTRL &kp LALT &kp LGUI &mo 3      &mo LOWER    &mo LOWER     &mo LOWER &kp DEL  &kp BKSP       &kp SPACE      &kp LEFT  &kp DOWN &kp UP   &kp RIGHT
            >;
        };

        raise_layer {
            bindings = <
   &kp ESC   &kp N1   &kp N2   &kp N3 &kp N4   &kp N5                                        &kp N6    &kp N7 &kp N8    &kp N9   &kp N0   &kp QUESTION
   &kp TAB   &kp SQT    &kp COMMA    &kp DOT  &kp P    &kp Y  &kp LPAR                     &kp RPAR  &kp F     &kp G  &kp C     &kp R    &kp L    &kp MINUS
   &kp LSHFT &kp A    &kp O    &kp E  &kp U    &kp I  &kp RET                     &kp RET  &kp D     &kp H  &kp T     &kp N    &kp S &kp SQT
   &kp LCTRL &kp SEMI    &kp Q    &kp J  &kp K    &kp X  &kp PG_UP &kp PG_DN &kp HOME &kp END   &kp B     &kp M  &kp W &kp V  &kp Z &mt RSHFT RET
   &kp LCTRL &kp LALT &kp LGUI &mo 3      &mo LOWER    &mo LOWER     &mo LOWER &kp DEL  &kp BKSP       &kp SPACE      &kp LEFT  &kp DOWN &kp UP   &kp RIGHT
            >;
        };

    };
};
